$heading: #222;
$accent: #d6d6d6;
$background: white;
$text: #222;
$selection: black;
$selection-inverse: white;
$link: cadetblue;
$max-width: 800px;

$code-color: black;
$code-background: aliceblue;
$code-comment: gray;
$code-punctuation: black;
$code-deleted: red;
$code-inserted: green;
$code-string: black;
$code-keyword: black;
$code-function: black;
$code-variable: black;

$fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$fontSize: 17px;
