@font-face {
  font-family: 'Inter Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/npm/inter-ui@3.5.0/Inter (web)/Inter-Regular.woff')
    format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter Italic';
  font-style: italic;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/npm/inter-ui@3.5.0/Inter (web)/Inter-Italic.woff')
    format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('https://cdn.jsdelivr.net/npm/inter-ui@3.5.0/Inter (web)/Inter-SemiBold.woff')
    format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter SemiBold Italic';
  font-style: italic;
  font-weight: 600;
  src: url('https://cdn.jsdelivr.net/npm/inter-ui@3.5.0/Inter (web)/Inter-SemiBoldItalic.woff')
    format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter Bold';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/npm/inter-ui@3.5.0/Inter (web)/Inter-Bold.woff')
    format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/npm/inter-ui@3.5.0/Inter (web)/Inter-BoldItalic.woff')
    format('woff');
  font-display: fallback;
}
